%h2= t(@i18n_prefix+".new")

= form_for(@item, :url => url_for(:action => 'create'), :html => { :multipart => true }) do |f|
  = crud_form_error_messages(f)
  = render_crud_view :partial => "form", :locals => { :columns => @create_columns, :f => f, :item => @item }
  .action_links
    = submit_tag t("save")
    
    - if display_link_to?(:list)
      = link_to t('list_action'), :action => 'index'